.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
main .row {
  margin: 0;
  max-width: 100%;
}
.network-frame {
  padding: 5px;
}
h3.graphheader {
  padding-top: 10px;
}
hr {
  margin: 0 20px;
  padding: 10px;
}
footer {
  text-align: center;
}
#json-editor,
#graph-container {
  height: 800px;
}
